In [8]:
import pandas as pd
pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',sep='|', header = None)

           0    1       2              3         4
0    user_id  age  gender     occupation  zip_code
1          1   24       M     technician     85711
2          2   53       F          other     94043
3          3   23       M         writer     32067
4          4   24       M     technician     43537
..       ...  ...     ...            ...       ...
939      939   26       F        student     33319
940      940   32       M  administrator     02215
941      941   20       M        student     97229
942      942   48       F      librarian     78209
943      943   22       M        student     77841

[944 rows x 5 columns]

In [10]:
user_cols=['user_id','age','gender','occupation','zip_code']
users= pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',sep='|', header = None, names=user_cols)
users.head()

   user_id  age  gender  occupation  zip_code
0  user_id  age  gender  occupation  zip_code
1        1   24       M  technician     85711
2        2   53       F       other     94043
3        3   23       M      writer     32067
4        4   24       M  technician     43537

In [12]:
users.describe()

       user_id  age gender occupation zip_code
count      944  944    944        944      944
unique     944   62      3         22      796
top        807   30      M    student    55414
freq         1   39    670        196        9

In [14]:
users.shape

(944, 5)

In [15]:
users.dtypes

user_id       object
age           object
gender        object
occupation    object
zip_code      object
dtype: object

In [16]:
type(users)

pandas.core.frame.DataFrame

In [17]:
users.age

0      age
1       24
2       53
3       23
4       24
      ...
939     26
940     32
941     20
942     48
943     22
Name: age, Length: 944, dtype: object

In [18]:
users.user_id

0      user_id
1            1
2            2
3            3
4            4
        ...
939        939
940        940
941        941
942        942
943        943
Name: user_id, Length: 944, dtype: object

In [22]:
users.describe(include=['object'])

       user_id  age gender occupation zip_code
count      944  944    944        944      944
unique     944   62      3         22      796
top        807   30      M    student    55414
freq         1   39    670        196        9

# how to remove columns from DataFrame

In [7]:
import pandas as pd
pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',sep='|', header = None)

           0    1       2              3         4
0    user_id  age  gender     occupation  zip_code
1          1   24       M     technician     85711
2          2   53       F          other     94043
3          3   23       M         writer     32067
4          4   24       M     technician     43537
..       ...  ...     ...            ...       ...
939      939   26       F        student     33319
940      940   32       M  administrator     02215
941      941   20       M        student     97229
942      942   48       F      librarian     78209
943      943   22       M        student     77841

[944 rows x 5 columns]

In [8]:
user_cols=['user_id','age','gender','occupation','zip_code']
users= pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',sep='|', header = None, names=user_cols)
users.head()

   user_id  age  gender  occupation  zip_code
0  user_id  age  gender  occupation  zip_code
1        1   24       M  technician     85711
2        2   53       F       other     94043
3        3   23       M      writer     32067
4        4   24       M  technician     43537

In [20]:
users.drop('gender', axis=1, inplace=True)
users.head()

  user_id  occupation zip_code
1       1  technician    85711
3       3      writer    32067
4       4  technician    43537
5       5       other    15213
6       6   executive    98101

In [25]:
users.zip_code.sort_values(ascending=False)

458    Y1A6B
490    V5A2B
145    V3N4P
857    V1G4L
333    V0R2M
       ...
231    01080
39     01040
9      01002
767    00000
186    00000
Name: zip_code, Length: 942, dtype: object

In [26]:
users.sort_values('zip_code')

    user_id     occupation zip_code
186     186      executive    00000
767     767       engineer    00000
9         9        student    01002
39       39  entertainment    01040
231     231      librarian    01080
..      ...            ...      ...
333     333          other    V0R2M
857     857  administrator    V1G4L
145     145  entertainment    V3N4P
490     490         artist    V5A2B
458     458     technician    Y1A6B

[942 rows x 3 columns]

In [30]:
users.sort_values(['content_rating', 'duration'])

KeyError: 'content_rating'

In [31]:
# how do i filter rows of a pandas dataframe by column values?

import pandas as pd
pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',sep='|', header = None)
users.head()

  user_id  occupation zip_code
1       1  technician    85711
3       3      writer    32067
4       4  technician    43537
5       5       other    15213
6       6   executive    98101

In [33]:
type(True)

bool

In [34]:
booleans=[]
for length in users.duration:
    if length>=200:
        booleans.append(True)
    else:
        booleans.append(False)

AttributeError: 'DataFrame' object has no attribute 'duration'

In [36]:
len(booleans)

0

In [37]:
is_long=pd.series(booleans)

AttributeError: module 'pandas' has no attribute 'series'

In [38]:
# how do  i apply multiple filter creteria to a pandas dataframe
import pandas as pd
pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',sep='|', header = None)
user_cols=['user_id','age','gender','occupation','zip_code']
users= pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',sep='|', header = None, names=user_cols)
users.head()

   user_id  age  gender  occupation  zip_code
0  user_id  age  gender  occupation  zip_code
1        1   24       M  technician     85711
2        2   53       F       other     94043
3        3   23       M      writer     32067
4        4   24       M  technician     43537

In [42]:
True and False

False

In [43]:
True and True

True

In [45]:
(users.age>=34) | (users.gender == '85711')

TypeError: '>=' not supported between instances of 'str' and 'int'

In [48]:
users.age.isin('23','24')

TypeError: isin() takes 2 positional arguments but 3 were given

In [49]:
users.drop('age',axis=0).head()

KeyError: "['age'] not found in axis"

In [50]:
import pandas as pd
order=pd.read_table('http:/bit.ly/chiporders')
order.head()

URLError: <urlopen error no host given>

In [ ]:
# how should i use "groupby in pandas"

In [51]:
order.item_name.str.conatins('chicken')

NameError: name 'order' is not defined

In [53]:
order.choice_description.str.replace('')

NameError: name 'order' is not defined

In [54]:
import pandas as pd
movies= pd.read_csv('http//bits.ly/imbratings')
movies.head()

FileNotFoundError: [Errno 2] No such file or directory: 'http//bits.ly/imbratings'

In [55]:
movies.dtypes

NameError: name 'movies' is not defined

In [58]:
type(movies.genre.value_count())

NameError: name 'movies' is not defined

In [59]:
movies.genre.unique()

NameError: name 'movies' is not defined

In [60]:
users.columns

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [61]:
users.columns

NameError: name 'age' is not defined

In [62]:
users.index

RangeIndex(start=0, stop=944, step=1)

In [63]:
users.describe().columns

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [64]:
users.age.value_count(['africa'])

AttributeError: 'Series' object has no attribute 'value_count'

In [70]:
users.loc[:,'age']

0      age
1       24
2       53
3       23
4       24
      ...
939     26
940     32
941     20
942     48
943     22
Name: age, Length: 944, dtype: object

In [72]:
users.iloc[:,[0,2]]
users.iloc[0:3, :]

   user_id  age  gender  occupation  zip_code
0  user_id  age  gender  occupation  zip_code
1        1   24       M  technician     85711
2        2   53       F       other     94043

In [73]:
import pandas as pd
users.head()

   user_id  age  gender  occupation  zip_code
0  user_id  age  gender  occupation  zip_code
1        1   24       M  technician     85711
2        2   53       F       other     94043
3        3   23       M      writer     32067
4        4   24       M  technician     43537

In [74]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 944 entries, 0 to 943
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     944 non-null    object
 1   age         944 non-null    object
 2   gender      944 non-null    object
 3   occupation  944 non-null    object
 4   zip_code    944 non-null    object
dtypes: object(5)
memory usage: 37.0+ KB

In [76]:
users.memory_usage(deep=True).sum()

287115

In [77]:
sorted(users.age.unique())

['10',
 '11',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '68',
 '69',
 '7',
 '70',
 '73',
 'age']

In [78]:
users['Time']=pd.to_datetime(users.time)

AttributeError: 'DataFrame' object has no attribute 'time'